<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js 模板语法</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
        .class1 {
            background: #444;
            color: #eee;
        }
    </style>
</head>
<body>
<div id="app">
    <!-- 文本插值 -->
    <p>{{message}}</p>

    <!-- 输出html代码 -->
    <div v-html="htmlMessage"></div>

    <!-- v-bind -->
    <label for="r1">修改颜色</label><input type="checkbox" v-model="class1" id="r1">
    <br><br>
    <div v-bind:class="{'class1':class1}">
        v-bind:class 指令
    </div>

    <!-- 支持js表达式-->
    {{5+5}}<br>
    {{ok ? 'YES':'NO'}}<br>
    {{jsMessage.split('').reverse().join('')}}
    <div v-bind:id="'list-' + id">菜鸟教程</div>

    <!--  支持指令-->
    <p v-if="seen">现在你看见我了</p>

    <!-- 支持参数 -->
    <pre><a v-bind:href="url">菜鸟教程</a></pre>
    <button v-on:click="showAlert">你咬我啊</button>

    <!-- 修饰符 -->
    <form v-on:submit.prevent="onSubmit"></form>
    <br>
    <br>
    <br>

    <!-- 用户输入 -->
    <input v-model="inputMessage">
    <p>输入框的内容：{{inputMessage}}</p>

    <!-- 字符串反转 -->
    <button v-on:click="reverseMessage">反转字符串</button>
    <p>反转字符串的结果：{{reverseMessageStr}}</p>

    <!-- 过滤器 -->
    {{filterMessage | capitalize}}

    <!-- 缩写 -->
    <pre><a :href="url">菜鸟教程，使用的是v-bind缩写</a></pre>
    <button @click="reverseMessage">反转字符串</button>

</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!',
            htmlMessage: '<h1>菜鸟教程</h1>',
            class1: false,
            ok: true,
            jsMessage: 'RUNOOB',
            id: 1,
            seen: true,
            url: 'http://www.runoob.com',
            inputMessage: '我是输入的默认值！',
            reverseMessageStr: '我是要被反转的字符串，阿西吧！',
            filterMessage: 'vue 的过滤器的内容'
        },
        methods: {
            showAlert: function () {
                alert('我不吃屎')
            },
            reverseMessage: function () {
                this.reverseMessageStr = this.reverseMessageStr.split('').reverse().join('')
            }
        },
        filters: {
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }
    })
</script>

</body>
</html>
